In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import statsmodels

In [2]:
df = pd.read_csv('Speed_dataset (1).csv')

In [3]:
df.head()

,latitude,longitude,timestamp,speed_mph,speedlimit_mph,functionalClass,controlledAccess,isHighway,state,vehicle_id,driver_id
0,34.640141,-77.938721,6/1/2015 0:04,64,70,2,Y,1,NC,1208979,5693
1,34.643730,-77.939400,6/1/2015 0:04,64,70,2,Y,1,NC,1208979,5693
2,34.551254,-78.784630,6/1/2015 0:04,1,55,4,N,1,NC,1262441,916461
3,35.613663,-78.470596,6/1/2015 0:06,62,70,2,Y,1,NC,1280223,1145487
4,35.614525,-78.474670,6/1/2015 0:06,61,70,2,Y,1,NC,1280223,1145487

In [9]:
#Descriptive statistics

df['speed_mph'].sum()

13118387

In [7]:
#Mean 
df['speed_mph'].mean()

38.1761294190229

In [11]:
#Cumulative sum of speed_mph, moving from the rows from the top
df['speed_mph'].cumsum()

0               64
1              128
2              129
3              191
4              252
5              316
6              339
7              342
8              407
9              471
10             535
11             599
12             664
13             728
14             755
15             820
16             885
17             950
18            1000
19            1032
20            1039
21            1072
22            1078
23            1143
24            1205
25            1257
26            1322
27            1386
28            1451
29            1516
            ...
343598    13117035
343599    13117092
343600    13117144
343601    13117204
343602    13117271
343603    13117336
343604    13117400
343605    13117432
343606    13117488
343607    13117555
343608    13117619
343609    13117673
343610    13117729
343611    13117793
343612    13117858
343613    13117864
343614    13117865
343615    13117929
343616    13117934
343617    13117998
343618    13118001
343619    13118064
343620    13118129
343621    13118193
343622    13118245
343623    13118291
343624    13118302
343625    13118306
343626    13118371
343627    13118387
Name: speed_mph, Length: 343628, dtype: int64

In [12]:
#Summary statistics on speed_mph
df['speed_mph'].describe()

count    343628.000000
mean         38.176129
std          24.945979
min           1.000000
25%          10.000000
50%          44.000000
75%          64.000000
max          79.000000
Name: speed_mph, dtype: float64

In [13]:
#Count the number of non-NA values
df['speed_mph'].count()

343628

In [38]:
#Minimum value of speed_mph
m = df['speed_mph'].min()
m

1

In [39]:
#max value of speed_mph
ma = df['speed_mph'].max()
ma

79

In [17]:
#median value
df['speed_mph'].median()

44.0

In [18]:
#Sample variance 
df['speed_mph'].var()

622.3018770905743

In [19]:
#Sample standard deviation
df['speed_mph'].std()

24.945979176824757

In [20]:
#Skewness
df['speed_mph'].skew()

-0.2674569709478228

In [21]:
#Kurtosis
df['speed_mph'].kurt()

-1.5846445212274807

In [25]:
#Correlation Matrix Of Values
mat = df.corr()
matpload code on git

,latitude,longitude,speed_mph,speedlimit_mph,functionalClass,isHighway,vehicle_id,driver_id
latitude,1.000000,0.379375,-0.052393,-0.037666,-0.036304,-0.029942,0.269873,0.302945
longitude,0.379375,1.000000,-0.012837,-0.005605,0.040911,0.023697,0.235899,0.061322
speed_mph,-0.052393,-0.012837,1.000000,0.675648,-0.724927,0.551639,0.014499,0.025560
speedlimit_mph,-0.037666,-0.005605,0.675648,1.000000,-0.624328,0.762467,0.021273,0.014920
functionalClass,-0.036304,0.040911,-0.724927,-0.624328,1.000000,-0.478363,-0.038748,-0.084222
isHighway,-0.029942,0.023697,0.551639,0.762467,-0.478363,1.000000,0.024292,0.009829
vehicle_id,0.269873,0.235899,0.014499,0.021273,-0.038748,0.024292,1.000000,0.018155
driver_id,0.302945,0.061322,0.025560,0.014920,-0.084222,0.009829,0.018155,1.000000

In [29]:
#Covariance Matrix Of Values
df.cov()

,latitude,longitude,speed_mph,speedlimit_mph,functionalClass,isHighway,vehicle_id,driver_id
latitude,0.631871,0.274499,-1.038932,-0.299853,-0.039494,-0.011069,1.078446e+05,1.250655e+05
longitude,0.274499,0.828543,-0.291495,-0.051093,0.050963,0.010031,1.079466e+05,2.898893e+04
speed_mph,-1.038932,-0.291495,622.301877,168.798226,-24.748509,6.399718,1.818348e+05,3.311492e+05
speedlimit_mph,-0.299853,-0.051093,168.798226,100.298308,-8.556849,3.551183,1.071029e+05,7.760244e+04
functionalClass,-0.039494,0.050963,-24.748509,-8.556849,1.872871,-0.304450,-2.665821e+04,-5.986022e+04
isHighway,-0.011069,0.010031,6.399718,3.551183,-0.304450,0.216277,5.679169e+03,2.373948e+03
vehicle_id,107844.571158,107946.642773,181834.840155,107102.871619,-26658.210429,5679.168653,2.527261e+11,4.739981e+09
driver_id,125065.525974,28988.926386,331149.220342,77602.439391,-59860.216728,2373.947655,4.739981e+09,2.697236e+11

In [30]:
#standard deviation 
df.std()

latitude                0.794903
longitude               0.910243
speed_mph              24.945979
speedlimit_mph         10.014904
functionalClass         1.368529
isHighway               0.465056
vehicle_id         502718.694744
driver_id          519349.221748
dtype: float64

In [40]:
#outliers
print(m, ma)

1 79

In [41]:
df.head()

,latitude,longitude,timestamp,speed_mph,speedlimit_mph,functionalClass,controlledAccess,isHighway,state,vehicle_id,driver_id
0,34.640141,-77.938721,6/1/2015 0:04,64,70,2,Y,1,NC,1208979,5693
1,34.643730,-77.939400,6/1/2015 0:04,64,70,2,Y,1,NC,1208979,5693
2,34.551254,-78.784630,6/1/2015 0:04,1,55,4,N,1,NC,1262441,916461
3,35.613663,-78.470596,6/1/2015 0:06,62,70,2,Y,1,NC,1280223,1145487
4,35.614525,-78.474670,6/1/2015 0:06,61,70,2,Y,1,NC,1280223,1145487